<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/styles.css' />
        <script data-main="javascripts/main" src="/javascripts/lib/require.js"></script>
    </head>
<body>
    <div id="panel">
        <div class="switch">---</div>
        <h2>Project Console</h2>
        <button id="test">New project</button>
        <ul class="projects"></ul>
    </div>
    <div id="console">
        <p>Welcome to <%= title %> sucka!</p>
    </div>
</body>
</html>